body {
   background-image: url("crystal\ Ball\ -\ .jpg");
   }
 
 #guess{
      position: fixed;
      bottom: 400px;
      right: 720px;
      width: 130px;
      font-size:20px;
    }

    #guessedLetter{
      position: fixed;
      bottom: 190px;
      right: 735px;
      width: 100px;
      font-size:30px;
      text-align: center;
    }